*{
  line-height: 150%;
}
header{
  border-bottom: 3px solid;
  font-family: georgia, serif;
  width: 650px;
  margin: 0 auto;
}
section{
  font-family: verdana, sans-serif;
  font-size: 1.1em;
  width: 650px;
  margin: 0 auto;
}
.ingredients{
  border-style: solid;
  border-color: rgb(0,0,0);
  border-width: 1px;
  width: 500px;
  margin: 0 auto;
}
